.header {
  background-color: #465DFF;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(100% - 94.53%);
  box-sizing: border-box;
}

.header_white-back {
  background-color: #FFFFFF;
}

.header__auth-page {
  background-color: #FFFFFF;
  height: 217px;
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 calc(100% - 65.5%);
  box-sizing: border-box;
}

.header__title {
  margin: 42px 0 0 0;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.21;
}

.header_login {
  background-color: #FFFFFF;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header__link{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.14;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.header__link:last-child {
  margin-left: 10px;
}

.header__link_active {
  background-color: #2BE080;
  color: black;
}

@media screen and (max-width:768px) {
  .header {
    padding: 0 20px;
  }
  .header__reg-or-log {
    height: 379px;
    padding: 232px 0 0 calc(100% - 75.78%);
  }
}

@media screen and (max-width:320px) {
  .header {
    padding: 0 14px;
  }
  .header__reg-or-log {
    height: 253px;
    padding: 56px 0 0 0;
    margin: 0 auto;
    text-align: center;
  }
  .header__logo {
    align-self: center;
  }
  .header__link{
    font-size: 0.625em;
    line-height: 1.6;
  }
  .header__link_active {
    padding: 7px 12px;
  }
  .header__link:last-child {
    margin-left: 14px;
  }
}


