.checkbox {

}

.checkbox__label {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  align-self: center;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox-slider {
  background-color: #2BE080;
}

.checkbox__input:checked + .checkbox-slider::before {
  left: 23px;
}

.checkbox-slider {
  background-color: #ebebeb;
  border-radius: 20px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
}

.checkbox-slider::before {
  background-color: #f5f5f5;
  border-radius: 20px;
  bottom: 6px;
  content: "";
  height: 8px;
  left: 6px;
  position: absolute;
  transition: .3s;
  width: 8px;
}

.checkbox-slider_checked {
  background-color: #2BE080;
}

.checkbox-text {
  margin-right: 30px;
}
